@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.pokemon-card,.pokemon-card:hover{
	
	image-rendering:crisp-edges;
	color:inherit;
	text-decoration: none;
	cursor:pointer;
	
	
}

.pokemon-card:hover{
	transform: scale(1.1);

}



.center{
	text-align:center;
}

.evolution{
	
	border-radius:15%;
	border: 4px solid gray;
	text-align:center;
	background-color:#cfd9e4;
}

.evolutionListCol{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
	
}

.evolutionList{
	list-style-type: none;
	
}